h1 {
    text-align: center;
    -webkit-text-stroke: 0.5px white;
    font-size: 52px;
}

.head {
    background-color: teal;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}