.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    transition: all 0.1s;
    width: 190px;
    height: 320px;
}

.card:hover {
    width: 200px;
    height: 330px;
}

.card img {
    margin: 10px;
    width: 150px;
}

.cardFields {
    line-height: 26px;
    width: 88%;
    margin: 10px 0;
}
